// bower:scss
// endbower

// put color override here this will work...

@import 'scss/bootstrap';
.nav-margin{
  margin-top: 123px;
}
.navbar-about{
  position: fixed;
  top: 123px;
  width: 100%;
}
.nav-double-margin {
  margin-top: 180px;
}
.border-5{
  border-width: 5px;
}
