extends layouts/default
block title
  title='Sneh Foundation | Education Health care for Children | About'
prepend link
  -var selected='About'
block content
  .nav-double-margin
    <nav id="navbar-about" class="navbar-about  navbar navbar-expand-lg navbar-light bg-white border border-light border-left-0 border-right-0">
      .container
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mission">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
        </ul>
    </nav>
    .container
      <div data-spy="scroll" data-target="#navbar-about" data-offset="0">
        <h2 class="text-center text-uppercase border-bottom border-5 border-info mt-5 pb-2" id="about-us">About Us</h2>
        p.lead
          | We are,
          br
          | You, who feel all children, deserve to be nourished.
          br
          | You, who feel all children, deserve to be educated.
          br
          | You, who feel all people that are sick and ailing, deserve to be healed.
          br
          | We are…YOU.
          br
          | SNEH is an acronym and stand for Solid Nutrition Education Health. SNEH Foundation is a pioneer, volunteer driven NGO in Pune working in the urban slum dwellings of Pimpri Chinchwad Municipal Corporation on the most complex social issues i.e. Malnutrition, Public Health, Education and Women Empowerment. We are a team of people striving hard to overcome the social barriers of life. We at SNEH remain committed to the cause, no matter what. We will emphasise on righteousness and stick to what we believe because come what may, betterment of the poor, is satisfaction for us.
        <h2 class="text-center text-uppercase border-bottom border-5 border-info mt-5 pb-2" id="mission">Mission</h2>
        p.lead
          | SNEH Foundation emerged with a vision to make the underprivileged families cognizant about the benefits of a nutritious and healthy meal, provide equal means and opportunities of education to the unprivileged children for a better future and spread awareness pertinent to health issues. Together in reconciliation, they provide the basis of leading a sustainable life and will help drive away these evils that cause harm to the society.
        <h2 class="text-center text-uppercase border-bottom border-5 border-info mt-5 pb-2" id="history">History</h2>
        p.lead
          | SNEH Foundation is a non-government organization registered under the Bombay Public Trust Act, 1950 and based out of Pune. With more than 5 years of presence working in different areas of Pune and Pimpri Chinchwad. We are a 12A registered trust with section 80(G) status of the income tax act. SNEH follows all financial regulations set forth for NGOs by the Government of India, and is audited annually.
        <h2 class="text-center text-uppercase border-bottom border-5 border-info mt-5 pb-2" id="team">Team</h2>
        <p>...</p>
        <h2 class="text-center text-uppercase border-bottom border-5 border-info mt-5 pb-2" id="three">three</h2>
        <p>...</p>
      </div>

