mixin navLink(link, name, isButton=false)
  li.nav-item(
    class={active: name == selected}
    )
    a.nav-link(
      href=link,
      class=isButton==true? 'btn btn-info mx-2 px-3 text-white': ''
    ) #{name}

nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.border-bottom.border-success
  .container
    <a class="navbar-brand" href="#">
      img(src="/images/sneh-logo-big.png", alt="BTC", style='vertical-align:text-bottom')
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    .collapse.navbar-collapse#navbarContent
      ul.navbar-nav.ml-auto
        +navLink('index.html','Home')
        +navLink('/about.html','About')
        +navLink('/impact.html','Impact')
        +navLink('/key-initiatives.html', 'Key Initiatives')
        +navLink('/contact.html', 'Contact')
        +navLink('/join.html', 'Join', true)
        +navLink('/donate.html', 'Donate', true)

